# 1. Ignore everything in the current directory
*

# 2. Allow git to ignore sub directories as well (Crtical!)
!*/

# 3. Whitelist only the .gitignore and the files with YOUR code.
!.gitignore
!project/
!project/ALU.sv
!project/ALU_tb.sv
!project/register.sv