# 1. Ignorera ALLT i hela projektet som standard
*

# 2. Tillåt Git att gå ner i undermappar (Crtical!)
!*/

# 3. Whitelista bara dina specifika filer och .gitignore själv
!.gitignore
!project/
!project/ALU
!project/ALU/ALU_tb.sv
!project/ALU/ALU.sv
!project/ALU/Milestone 1.pdf
!project/Registers
!project/Registers/register_block.sv
!project/Registers/register_tb.sv
!project/Registers/register.sv
!project/ALU/ALU_Exhaustive_TestBench.sv
!project/ALU/ALU_TestBench_source.sv
!project/Registers/register_file.sv
!project/Registers/register_file_tb.sv