# 1. Ignorera ALLT i hela projektet som standard
*

# 2. Tillåt Git att gå ner i undermappar (Crtical!)
!*/

# 3. Whitelista bara dina specifika filer och .gitignore själv
!.gitignore
!project/
!project/ALU.sv
!project/ALU_tb.sv